@import "bootstrap/dist/css/bootstrap.min.css";

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: auto;
  width: 800px;
  flex-direction: column;
}
