@import "bootstrap/dist/css/bootstrap.min.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

html {
  font-size: 87.5% !important;
  box-sizing: border-box;
  height: 100%;
}

@media only screen and (max-width: 1080px) {
  html {
    font-size: 81.25% !important;
  }
}
@media only screen and (max-width: 720px) {
  html {
    font-size: 75% !important;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fefefe;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
